
.has-overlay {
    position: relative
}

.has-overlay>div:not(.overlay):not(.is-sticky),
.has-overlay>ul:not(.overlay) {
    z-index: 5;
    position: relative
}
.section {
    overflow-x: hidden
}

.section-m {
    padding: 40px 0
}

.section-l {
    padding: 50px 0
}

.section-head {
    padding-bottom: 40px
}

.section-head .subtitle {
    text-transform: uppercase;
    color: #2a81ea;
    font-size: 12px;
    margin-bottom: .125rem;
    letter-spacing: 0.04em
}

.section-head .title {
    text-transform: uppercase
}

.section-head .title+p {
    padding-top: .6875rem
}

.section-head.text-center[class*="wide"] {
    margin-left: auto;
    margin-right: auto
}

.section-subhead {
    padding-bottom: 30px
}

.section-subhead .title {
    font-size: 1.5rem
}

.section-actions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px;
    margin: -.5rem
}

.section-actions li {
    padding: .5rem
}

.section-cta {
    margin-top: 40px
}

.section-cta .notes {
    display: flex
}

.section-cta .notes .icon {
    font-size: 1.75rem;
    width: 2.5rem;
    flex-shrink: 0;
    color: #7fb3f2
}

.section-cta .notes p {
    font-style: italic
}

.section-cta .notes p strong {
    color: #2a81ea;
    font-style: normal
}

.section-content-boxed {
    padding: 1.25rem 1.5rem 1.5rem;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 5px 40px 0px rgba(80, 101, 142, 0.08)
}

.section-head-s2 {
    padding-bottom: 40px
}

.section-head-s2-sm {
    padding-bottom: 20px
}

.section-head-s2 .subtitle {
    color: #f86168;
    margin-bottom: .5rem;
    letter-spacing: 0.04em
}

.section-head-s2 .title {
    color: #3d4b69
}

.section-head-s2 .title+p {
    padding-top: .6875rem
}

.section-head-s2 p span {
    color: #2a81ea
}

.section-head-s2.text-center[class*="wide"] {
    margin-left: auto;
    margin-right: auto
}

.section-cta-boxed {
    padding: 1.5rem;
    border: 2px solid #9cc2f7;
    border-radius: 12px
}

@media (min-width: 576px) {
    .section-m {
        padding: 60px 0
    }

    .section-l {
        padding: 70px 0
    }

    .section-head {
        padding-bottom: 50px
    }

    .section-head .subtitle {
        font-size: 1.125rem;
        margin-bottom: .125rem;
        letter-spacing: 0.1em
    }

    .section-head .title+p {
        padding-top: 1rem
    }

    .section-subhead {
        padding-bottom: 40px
    }

    .section-subhead .title {
        font-size: 1.875rem
    }

    .section-actions {
        padding-top: 40px;
        margin: -1rem
    }

    .section-actions li {
        padding: 1rem
    }

    .section-cta {
        margin-top: 40px
    }

    .section-cta .notes .icon {
        font-size: 2.75rem;
        width: 4rem
    }

    .section-content-boxed {
        padding: 2.25rem 2.5rem 2.5rem
    }
}

@media (min-width: 768px) {
    .section {
        overflow-x: hidden
    }

    .section-m {
        padding: 70px 0
    }

    .section-l {
        padding: 90px 0
    }

    .section-head {
        padding-bottom: 60px
    }

    .section-subhead {
        padding-bottom: 45px
    }

    .section-cta {
        margin-top: 70px
    }
}

@media (min-width: 992px) {
    .section {
        overflow-x: hidden
    }

    .section-m {
        padding: 80px 0
    }

    .section-l {
        padding: 120px 0
    }

    .section-head {
        padding-bottom: 70px
    }

    .section-subhead {
        padding-bottom: 50px
    }

    .section-actions {
        padding-top: 60px
    }

    .section-cta {
        margin-top: 90px
    }

    .section-cta-boxed {
        padding: 2rem
    }
}

.status-item .title {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #7d92bb
}

.status-item .count {
    line-height: 1
}

.status-note {
    font-style: italic;
    font-size: 0.75rem;
    color: #7d92bb;
    padding-top: 1.75rem
}

.status-title {
    margin-bottom: 1rem;
    color: #7d92bb
}

.text-block .subtitle {
    text-transform: uppercase;
    color: #2a81ea;
    font-size: 1.125rem;
    margin-bottom: .125rem;
    letter-spacing: .1em
}

.tc-light .text-block .subtitle {
    color: #73e3ff
}

.text-block .title {
    text-transform: uppercase
}

.text-block .title+p {
    padding-top: 0.6875rem
}

.text-block .title+p.lead {
    padding-top: .75rem
}

.tc-light .text-block p {
    color: #ced4ff
}

.tc-light .text-block p strong {
    color: #fff
}

.text-block-s2:not(:last-child) {
    margin-bottom: 3rem
}

.text-block-s2 .subtitle {
    color: #f86168;
    margin-bottom: .5rem;
    letter-spacing: 0.04em
}

.tc-light .text-block-s2 .subtitle {
    color: #73e3ff
}

.text-block-s2 .title {
    color: #3d4b69
}

.text-block-s2 .title+p {
    padding-top: .6875rem
}

.text-block-s2 p span {
    color: #2a81ea
}

@media (min-width: 576px) {
    .text-block .title+p {
        padding-top: 0.875rem
    }

    .text-block .title+p.lead {
        padding-top: 1.25rem
    }
}

.box5 {
    padding: 1.375rem 1.5rem 1.25rem;
    border-radius: 4px
}

.box5 .title {
    color: #2a81ea
}

.tc-light .box5 .title {
    color: #fff
}

.box5 p {
    font-size: 0.9375rem;
    margin-bottom: 0.375rem
}

.box5 p+.title {
    padding-top: 1.5rem
}

.box5 ul+.title {
    padding-top: 1.5rem
}

.box5 ul li {
    position: relative;
    font-size: 0.9375rem;
    line-height: 1.47rem;
    padding: .25rem 0 .25rem 1.5rem
}

.box5 ul li:before {
    position: absolute;
    font-family: "Nioicon";
    content: "";
    left: 0;
    top: .125rem
}

.box5-alt {
    border: 2px solid #9cc2f7
}

@media (min-width: 576px) {
    .box5 {
        padding: 2.375rem 2.5rem
    }
}

.box6 {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(75, 85, 110, 0.08)
}

.section-l {
    padding: 50px 0
}@media (min-width: 576px) {
    .section-m {
        padding: 60px 0
    }

    .section-l {
        padding: 70px 0
    }

    .section-head {
        padding-bottom: 50px
    }

    .section-head .subtitle {
        font-size: 1.125rem;
        margin-bottom: .125rem;
        letter-spacing: 0.1em
    }

    .section-head .title+p {
        padding-top: 1rem
    }

    .section-subhead {
        padding-bottom: 40px
    }

    .section-subhead .title {
        font-size: 1.875rem
    }

    .section-actions {
        padding-top: 40px;
        margin: -1rem
    }

    .section-actions li {
        padding: 1rem
    }

    .section-cta {
        margin-top: 40px
    }

    .section-cta .notes .icon {
        font-size: 2.75rem;
        width: 4rem
    }

    .section-content-boxed {
        padding: 2.25rem 2.5rem 2.5rem
    }
}

@media (min-width: 768px) {
    .section {
        overflow-x: hidden
    }

    .section-m {
        padding: 70px 0
    }

    .section-l {
        padding: 90px 0
    }

    .section-head {
        padding-bottom: 60px
    }

    .section-subhead {
        padding-bottom: 45px
    }

    .section-cta {
        margin-top: 70px
    }
}

@media (min-width: 992px) {
    .section {
        overflow-x: hidden
    }

    .section-m {
        padding: 80px 0
    }

    .section-l {
        padding: 120px 0
    }

    .section-head {
        padding-bottom: 70px
    }

    .section-subhead {
        padding-bottom: 50px
    }

    .section-actions {
        padding-top: 60px
    }

    .section-cta {
        margin-top: 90px
    }

    .section-cta-boxed {
        padding: 2rem
    }
}

.bg-accent-dark {
    background-color: #1b47a1 !important
}
.tc-light {
    color: #fff
}.tc-light h1,
.tc-light h2,
.tc-light h3,
.tc-light .h1,
.tc-light .h2,
.tc-light .h3 {
    color: #fff
}
.tc-light p {
    color: #fff
}
.tc-light .text-block p {
    color: #ced4ff
}

.tc-light .text-block p strong {
    color: #fff
}
.tc-light .text-block-s2 .subtitle {
    color: #73e3ff
}
.tc-light .wgs-about p {
    color: #b2bfe0
}
.tc-light .nk-copyright {
    color: #b2bfe0
}

.tc-light .nk-copyright a {
    color: #b2bfe0
}

.tc-light .nk-copyright a:hover {
    color: #2a81ea
}.tc-light .nk-dislaimer p {
    color: #b2bfe0
}.tc-light .nk-navbar-toggle .toggle {
    color: #fff
}
.tc-light .nk-menu li a:hover,
.tc-light .nk-menu li a.active {
    color: #2a81ea
}
.tc-light .nk-footer-links li:not(:last-child):after {
    background-color: #b2bfe0
}.tc-light .nk-footer-links li a {
    color: #b2bfe0
}

.tc-light .nk-footer-links li a:hover {
    color: #2a81ea
}